/*
0 - 600px Phone
600 - 900 Tablet portrait
900-1200 Tablet landscape
1200 -1800 is where normal style apply
1800px + Big desktop

$breakpoint argument choices

-- big-desktop : 125em // 2000px
-- tab-land: 75em; // 1200px
-- tab-land-medium: 65.62em; // 1050px
-- tab-port-medium: 56.25em; // 900px
-- tab-port-small: 43.75em; // 700px
-- phone: 37.5em; // 600px
-- phone-medium: 28.12em; // 450px
-- phone-medium: 23.12em; // 370px

1em = 16px

ORDER: Base + typography > general layout + grid > page layut > components
*/
@-webkit-keyframes heading-1 {
  0% {
    transform: translateY(-100%); }
  80% {
    transform: translateY(10%); }
  100% {
    transform: translateY(0%); } }
@keyframes heading-1 {
  0% {
    transform: translateY(-100%); }
  80% {
    transform: translateY(10%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes heading-2 {
  0% {
    transform: translateY(-100%); }
  80% {
    transform: translateY(10%); }
  100% {
    transform: translateY(0%); } }

@keyframes heading-2 {
  0% {
    transform: translateY(-100%); }
  80% {
    transform: translateY(10%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes animated-btn {
  0% {
    transform: translateY(150%);
    opacity: 0; }
  80% {
    transform: translateY(-10%); }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

@keyframes animated-btn {
  0% {
    transform: translateY(150%);
    opacity: 0; }
  80% {
    transform: translateY(-10%); }
  100% {
    transform: translateY(0%);
    opacity: 1; } }

.js--wp-h2-1, .js--wp-h2-2,
.js--wp-h2-3, .js--wp-h2-4,
.js--wp-h2-5, .js--wp-h2-6 {
  opacity: 0; }

.animate-animated {
  opacity: 1; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 43.75%; } }

body {
  font-family: "Martel", serif;
  font-weight: 700;
  line-height: 1.6;
  color: #f2f2f2;
  background-color: #f9f7f6;
  overflow-x: hidden; }

.container {
  display: grid;
  grid-template-rows: minmax(80rem, 100vh) repeat(4, -webkit-min-content) 80vh -webkit-min-content;
  grid-template-rows: minmax(80rem, 100vh) repeat(4, min-content) 80vh min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: minmax(60rem, 100vh) repeat(4, -webkit-min-content) minmax(60rem, 100vh) -webkit-min-content;
      grid-template-rows: minmax(60rem, 100vh) repeat(4, min-content) minmax(60rem, 100vh) min-content; } }

a {
  text-decoration: none;
  color: #fff; }

li {
  list-style-type: none; }

.heading-1 {
  font-size: 6.5rem;
  font-family: "Martel", serif;
  -webkit-animation: heading-1 2s;
          animation: heading-1 2s; }
  @media only screen and (max-width: 75em) {
    .heading-1 {
      font-size: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 4.5rem; } }
  @media only screen and (max-width: 28.12em) {
    .heading-1 {
      font-size: 4rem; } }
  @media only screen and (max-width: 23.12em) {
    .heading-1 {
      font-size: 3.5rem; } }

.heading-2 {
  font-size: 4.5rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 4rem; } }
  @media only screen and (max-width: 28.12em) {
    .heading-2 {
      font-size: 3.5rem; } }

.heading-3 {
  font-size: 3rem;
  font-weight: 300; }
  @media only screen and (max-width: 23.12em) {
    .heading-3 {
      font-size: 2.5rem; } }

.heading-4 {
  font-size: 2rem;
  font-weight: 300; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  filter: brightness(40%); }
  .bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.btn {
  font-size: 2rem;
  width: 22rem;
  height: 6rem;
  color: #f2f2f2;
  background-color: transparent;
  outline: none;
  border: 2px solid #f2f2f2;
  cursor: pointer;
  border-radius: 2px;
  transition: all .2s; }
  .btn--light:hover {
    color: #e67e22;
    border-color: #e67e22; }

.card {
  background-size: cover;
  background-position: center;
  grid-row: 2 / 3;
  width: 90%;
  height: 85%;
  text-align: center;
  display: grid;
  align-content: end;
  padding-bottom: 2rem;
  box-shadow: 0 1rem 3rem rgba(242, 242, 242, 0.2);
  position: relative;
  transition: all .3s;
  align-self: center;
  justify-self: center; }
  .card--1 {
    background-image: url(../img/photo-18-min.jpg);
    grid-column: 2 / 3; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
      .card--1 {
        background-image: url(../img/photo-18.jpg); } }
  .card--2 {
    background-image: url(../img/photo-21-min.jpg);
    grid-column: 3 / 4; }
    @media only screen and (max-width: 37.5em) {
      .card--2 {
        grid-row: 3 / 4; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
      .card--2 {
        background-image: url(../img/photo-21.jpg); } }
  .card--3 {
    background-image: url(../img/photo-20-min.jpg);
    grid-column: 4 / 5; }
    @media only screen and (max-width: 37.5em) {
      .card--3 {
        grid-row: 4 / 5; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
      .card--3 {
        background-image: url(../img/photo-20.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .card--1, .card--2, .card--3 {
      grid-column: 2 / 3;
      width: 100%;
      height: 100%; } }
  .card__recommend {
    padding: 1rem;
    font-size: 2.5rem;
    width: 100%;
    background-color: #1a334c;
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 56.25em) {
      .card__recommend {
        font-size: 2rem; } }
  .card__icon-star {
    width: 2rem;
    height: 2rem;
    fill: #e67e22; }
  .card__price {
    font-size: 3rem;
    font-weight: 300; }
  .card:hover {
    transform: translateY(-1rem); }

.widget {
  grid-row: 3 / 4;
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, -webkit-min-content));
  grid-template-columns: repeat(4, minmax(10rem, min-content));
  justify-content: space-evenly; }
  @media only screen and (max-width: 37.5em) {
    .widget {
      grid-template-columns: repeat(2, -webkit-min-content);
      grid-template-columns: repeat(2, min-content);
      grid-row-gap: 2rem;
      grid-column: 3 / 5; } }
  @media only screen and (max-width: 28.12em) {
    .widget {
      grid-column: 2 / 4; } }
  .widget__container {
    background-color: rgba(13, 13, 13, 0.8);
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .widget__number {
    color: #e67e22;
    font-size: 2.3rem; }
    .widget__number-m {
      color: #0d0d0d; }
  .widget__title {
    color: #f2f2f2;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.1rem; }
  .widget__marked {
    background-color: #e67e22; }

[type="radio"]:checked ~ label ~ .testimonial__content > * {
  opacity: 1;
  transform: translateX(0); }

[type="radio"] {
  width: 1rem;
  z-index: 1; }

.form {
  grid-column: 2 / 5;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 37.5em) {
    .form {
      grid-column: 2 / 4; } }
  .form__group {
    margin-bottom: 1.5rem; }
  .form__label {
    display: none; }
  .form__textarea {
    resize: none;
    height: 10rem; }
  .form__btn:hover {
    color: #e67e22;
    border-color: currentColor; }
  .form__input,
  .form textarea {
    width: 100%;
    font-family: inherit;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    padding: 1.5rem 1rem;
    color: #f2f2f2;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #f2f2f2; }
    .form__input:focus,
    .form textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(242, 242, 242, 0.1);
      border-color: #55c57a; }
    .form__input:focus:invalid,
    .form textarea:focus:invalid {
      border-color: #993600; }
    .form__input::-webkit-input-placeholder,
    .form textarea::-webkit-input-placeholder {
      border-color: #55c57a; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #eee;
  z-index: 999;
  cursor: pointer; }

.testimonial__label {
  position: relative; }

.checkmark:hover {
  background-color: #ccc; }

input[type="radio"]:checked ~ .testimonial__label > * {
  background-color: #e67e22; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

input[type="radio"]:checked ~ .testimonial__label > .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.testimonial__label .checkmark:after {
  top: 6.4px;
  left: 5px;
  width: 9px;
  height: 8px;
  border-radius: 50%;
  background: #f2f2f2; }

.navigation {
  z-index: 1500; }
  @media only screen and (min-width: 37.5em) {
    .navigation {
      grid-column: 5 / 8;
      grid-row: 1 / 2;
      display: grid;
      align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      position: fixed;
      top: 0;
      right: 0;
      transform: translateY(-120%);
      opacity: 0; } }
  .navigation__list {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .navigation__list {
        display: grid;
        grid-template-rows: 1fr;
        grid-row-gap: 3rem; } }
  .navigation__link {
    color: #f2f2f2;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.5rem;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .navigation__link {
        color: #f2f2f2;
        font-size: 3.5rem; } }
  .navigation__item:hover .navigation__link {
    color: #e67e22;
    border-bottom: 1px solid currentColor; }

@media only screen and (max-width: 37.5em) {
  .dropdown__checkbox:checked ~ .navigation {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .3s, opacity .3s .5s; } }

.sidebar {
  grid-column: 9 / -1;
  grid-row: 2 / 3;
  z-index: 1500; }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      position: fixed;
      top: 60%;
      right: 0;
      transform: translateX(100%); } }

.social-media__list {
  display: grid;
  grid-row-gap: 2rem; }

.social-media__icon {
  width: 3rem;
  height: 3rem;
  fill: #f2f2f2;
  transform: scale(1);
  transition: all .2s; }
  .social-media__icon:hover {
    fill: #8B94A2;
    transform: scale(1.2); }

@media only screen and (max-width: 37.5em) {
  .social-media__list {
    display: flex; }
  .social-media__item {
    padding: 1rem 2rem; }
  .social-media__icon {
    width: 4.5rem;
    height: 4.5rem; }
    .social-media__icon:hover {
      fill: #e67e22; } }

.dropdown__checkbox:checked ~ .sidebar {
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s .5s; }
  @media only screen and (max-width: 23.12em) {
    .dropdown__checkbox:checked ~ .sidebar {
      transform: translateX(-85%); } }

.dropdown__checkbox {
  display: none; }

@media only screen and (max-width: 37.5em) {
  .dropdown__checkbox {
    width: 100%;
    height: 100%;
    display: none; }
  .dropdown__btn {
    grid-column: 9 / 10;
    position: fixed;
    cursor: pointer;
    width: 7rem;
    height: 6rem;
    display: inline-block;
    z-index: 2000;
    text-align: center;
    background-color: #1a334c;
    right: 2rem;
    top: 1rem; }
  .dropdown__icon {
    margin-top: 1rem;
    position: relative; }
    .dropdown__icon, .dropdown__icon::before, .dropdown__icon::after {
      width: 5rem;
      height: 3px;
      display: inline-block;
      background-color: #f2f2f2;
      transition: transform .4s; }
    .dropdown__icon::before {
      margin-top: 3rem; }
    .dropdown__icon::after {
      margin-top: 1.5rem; }
    .dropdown__icon::before, .dropdown__icon::after {
      content: "";
      position: absolute;
      left: 0; }
  .dropdown__checkbox:checked + .dropdown__btn .dropdown__icon {
    background-color: transparent; }
  .dropdown__checkbox:checked + .dropdown__btn .dropdown__icon::before {
    transform: rotate(135deg);
    top: -10px; }
  .dropdown__checkbox:checked + .dropdown__btn .dropdown__icon::after {
    transform: rotate(-135deg); }
  .dropdown__checkbox:checked ~ .dropdown__background {
    transform: scale(50); }
  .dropdown__background {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 1rem;
    right: 2rem;
    background-image: radial-gradient(rgba(26, 51, 76, 0.9), rgba(26, 51, 76, 0.9));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1); } }

.header {
  background-image: linear-gradient(to right bottom, rgba(13, 13, 13, 0.7), rgba(13, 13, 13, 0.7)), url(../img/bkg-min.jpg);
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 8rem 1fr repeat(1, -webkit-min-content) 1fr;
  grid-template-rows: 8rem 1fr repeat(1, min-content) 1fr;
  grid-template-columns: repeat(8, minmax(-webkit-min-content, 25%)) 8rem;
  grid-template-columns: repeat(8, minmax(min-content, 25%)) 8rem; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(13, 13, 13, 0.7), rgba(13, 13, 13, 0.7)), url(../img/bkg.jpg); } }
  @media only screen and (min-width: 37.5em) {
    .header {
      background-attachment: fixed; } }
  @media only screen and (min-width: 125em) {
    .header {
      grid-template-columns: 1fr repeat(7, minmax(-webkit-min-content, 25rem)) 8rem 1fr;
      grid-template-columns: 1fr repeat(7, minmax(min-content, 25rem)) 8rem 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-rows: 8rem 20rem repeat(1, -webkit-min-content) 1fr;
      grid-template-rows: 8rem 20rem repeat(1, min-content) 1fr; } }
  @media only screen and (max-width: 28.12em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(13, 13, 13, 0.7), rgba(13, 13, 13, 0.7)), url(../img/bkg-min-phone.jpg); } }
  .header__logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
    @media only screen and (min-width: 125em) {
      .header__logo {
        grid-column: 3 / 4; } }
    .header__logo-img {
      height: 100%;
      width: 18rem; }
  .header__box {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 3 / 8;
    grid-row-gap: 1.5rem; }
    @media only screen and (max-width: 65.62em) {
      .header__box {
        grid-column: 2 / 9; } }
    @media only screen and (max-width: 37.5em) {
      .header__box {
        grid-column: 2 / -1; } }
    .header__box-text {
      font-size: 1.6rem;
      font-weight: 300; }
    .header__box-btn {
      -webkit-animation: animated-btn 2s;
              animation: animated-btn 2s; }

.footer {
  background-image: linear-gradient(to bottom, #0d0d0d, rgba(13, 13, 13, 0.7)), url(../img/bkg-4-min.jpg);
  background-size: cover;
  background-position: center;
  background-color: #333;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(-webkit-min-content, 10rem)) 1fr;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 10rem)) 1fr;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 3rem;
  padding: 10rem 0 10rem 0;
  outline: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .footer {
      background-image: linear-gradient(to bottom, #0d0d0d, rgba(13, 13, 13, 0.7)), url(../img/bkg-4.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 20rem));
      grid-template-columns: repeat(4, minmax(min-content, 20rem));
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
      grid-row-gap: 5rem; } }
  .footer__h2 {
    grid-column: 2 / span 5;
    font-size: 5.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__h2 {
        grid-column: 2 / -1;
        font-size: 4.5rem; } }
  .footer__copyright {
    grid-row: 3 / 4;
    grid-column: 4 / 8;
    margin-top: 8rem;
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        justify-self: center; } }
    .footer__copyright p a:hover {
      color: #e67e22; }
  @media only screen and (max-width: 37.5em) {
    .footer__nav {
      margin-top: 5rem; } }

.horizontal__nav .social-media {
  display: grid;
  grid-template-columns: repeat(4, minmax(-webkit-min-content, 10rem));
  grid-template-columns: repeat(4, minmax(min-content, 10rem)); }
  @media only screen and (max-width: 37.5em) {
    .horizontal__nav .social-media {
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 6rem));
      grid-template-columns: repeat(4, minmax(min-content, 6rem)); } }
  .horizontal__nav .social-media__icon:hover {
    fill: #e67e22; }

.contact {
  grid-column: 6 / 10;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      grid-column: 2 / 4;
      grid-row: 3 / 4; } }
  .contact__box {
    display: flex;
    margin-bottom: 2rem; }
  .contact__icon {
    width: 5rem;
    height: 5rem;
    fill: #e67e22;
    margin-right: 3rem; }
    .contact__icon-location {
      width: 3.5rem;
      height: 5rem; }
  .contact__title {
    font-size: 1.7rem;
    font-weight: 700; }
  .contact span {
    font-weight: 200;
    font-size: 1.3rem;
    color: #fff; }

/*-------------------------*/
/* --------ABOUT---------- */
/*-------------------------*/
.about {
  background-image: linear-gradient(#f2f2f2, rgba(242, 242, 242, 0.95)), url(../img/bkg-2-min.jpg);
  background-size: cover;
  background-position: center;
  grid-column: center-start / center-end;
  color: #555;
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, minmax(-webkit-min-content, 25rem)) repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr) repeat(3, minmax(min-content, 25rem)) repeat(1, 1fr);
  grid-template-rows: repeat(6, minmax(-webkit-min-content), 20rem);
  grid-template-rows: repeat(6, minmax(min-content), 20rem);
  grid-row-gap: 3rem;
  box-shadow: 0 1rem 3rem rgba(85, 85, 85, 0.2);
  outline: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .about {
      background-image: linear-gradient(#f2f2f2, rgba(242, 242, 242, 0.95)), url(../img/bkg-2.jpg); } }
  @media only screen and (max-width: 65.62em) {
    .about {
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 0 2rem; } }
  .about__h2 {
    grid-column: 3 / 5;
    grid-row: 2 / 3; }
  .about__text {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem;
    grid-column: 4 / 6;
    border-bottom: 1px solid #aaa;
    padding-bottom: 3rem; }
    .about__text--m {
      grid-column: 3 / 5;
      grid-row: 5/ 6;
      color: #e67e22; }
    .about__text--1 {
      grid-row: 3 / 5; }
    .about__text--2 {
      grid-row: 6 / 7; }
  .about__btn {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
    margin-bottom: 10rem;
    transition: all .2s;
    color: #555;
    border-color: currentColor; }
  @media only screen and (max-width: 37.5em) {
    .about__h2, .about__text {
      grid-column: 1 / -1; } }

/*-------------------------*/
/* -------EXPLORE--------- */
/*-------------------------*/
.explore {
  grid-column: full-start / full-end;
  color: #555;
  display: grid;
  grid-template-rows: minmax(-webkit-min-content, 20rem) repeat(2, 1fr) -webkit-min-content;
  grid-template-rows: minmax(min-content, 20rem) repeat(2, 1fr) min-content;
  grid-template-columns: 1fr repeat(4, minmax(-webkit-min-content, 20rem)) 1fr;
  grid-template-columns: 1fr repeat(4, minmax(min-content, 20rem)) 1fr;
  grid-row-gap: 3rem;
  margin-top: 2rem;
  font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .explore {
      grid-template-rows: 12rem 20rem 40rem -webkit-min-content;
      grid-template-rows: 12rem 20rem 40rem min-content; } }
  @media only screen and (max-width: 28.12em) {
    .explore {
      grid-template-rows: 12rem 20rem 30rem -webkit-min-content;
      grid-template-rows: 12rem 20rem 30rem min-content; } }
  .explore__text {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    z-index: 1;
    text-align: right;
    padding-left: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .explore__text {
        grid-column: 2 / -1;
        text-align: left; } }
    @media only screen and (max-width: 23.12em) {
      .explore__text .heading-2 {
        font-size: 3rem; } }
  .explore__p-2 {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    align-self: end;
    transform: translateX(-30%); }
    @media only screen and (max-width: 37.5em) {
      .explore__p-2 {
        transform: translateX(0);
        grid-column: 2 / 6;
        margin-left: 2rem; } }
  .explore__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .explore__img {
        height: 10rem; } }
    .explore__img-box {
      display: grid;
      grid-column-gap: 1rem; }
      .explore__img-box--1 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        grid-template-rows: repeat(2, minmax(-webkit-min-content, 10rem));
        grid-template-rows: repeat(2, minmax(min-content, 10rem));
        grid-template-columns: repeat(4, minmax(-webkit-min-content, 10rem));
        grid-template-columns: repeat(4, minmax(min-content, 10rem));
        grid-gap: 1rem;
        margin-right: 1rem; }
        @media only screen and (max-width: 37.5em) {
          .explore__img-box--1 {
            grid-template-rows: repeat(4, minmax(-webkit-min-content, 10rem));
            grid-template-rows: repeat(4, minmax(min-content, 10rem));
            grid-template-columns: repeat(2, minmax(-webkit-min-content, 100%));
            grid-template-columns: repeat(2, minmax(min-content, 100%)); } }
        @media only screen and (max-width: 37.5em) {
          .explore__img-box--1 {
            grid-column: 2 / 6;
            grid-row: 2 / 3;
            grid-template-rows: repeat(2, minmax(-webkit-min-content, 10rem));
            grid-template-rows: repeat(2, minmax(min-content, 10rem));
            grid-template-columns: repeat(4, minmax(-webkit-min-content, 100%));
            grid-template-columns: repeat(4, minmax(min-content, 100%)); } }
      .explore__img-box--2 {
        grid-column: 3 / -1;
        grid-row: 4 / 5;
        grid-template-columns: repeat(6, minmax(-webkit-min-content, 10rem));
        grid-template-columns: repeat(6, minmax(min-content, 10rem));
        grid-template-rows: 10rem;
        margin-bottom: 3rem; }
        @media only screen and (max-width: 37.5em) {
          .explore__img-box--2 {
            grid-column: 1 / -1;
            margin: 0 3rem 3rem 3rem; } }
        @media only screen and (max-width: 23.12em) {
          .explore__img-box--2 {
            grid-template-columns: repeat(3, minmax(-webkit-min-content, 10rem));
            grid-template-columns: repeat(3, minmax(min-content, 10rem));
            grid-template-rows: repeat(2, 10rem);
            grid-row-gap: 1rem;
            margin: 0 auto 1rem auto; } }
    .explore__img-big--1 {
      width: 100%;
      height: 120%;
      grid-column: 4 / 6;
      grid-row: 1 / 3; }
      @media only screen and (max-width: 37.5em) {
        .explore__img-big--1 {
          display: none; } }
    .explore__img-big--2 {
      width: 120%;
      height: 100%;
      grid-column: 2 / 4;
      grid-row: 3 / 4; }
      @media only screen and (max-width: 37.5em) {
        .explore__img-big--2 {
          width: 95%;
          margin: 0 auto;
          height: 80%;
          grid-column: 2 / 6;
          padding-bottom: 2.5rem; } }

/*---------------------------*/
/* -------- BOOK ---------- */
/*-------------------------*/
.book {
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(13, 13, 13, 0.7), rgba(13, 13, 13, 0.6)), url(../img/bkg-3-min.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  margin-bottom: 3rem;
  padding: 3rem 0;
  grid-template-columns: 1fr repeat(3, minmax(20rem, 30rem)) 1fr;
  grid-template-rows: 15rem minmax(-webkit-max-content, 40rem);
  grid-template-rows: 15rem minmax(max-content, 40rem);
  grid-gap: 3.5rem;
  outline: none;
  justify-content: end;
  align-content: center; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .book {
      background-image: linear-gradient(rgba(13, 13, 13, 0.7), rgba(13, 13, 13, 0.6)), url(../img/bkg-3.jpg); } }
  @media only screen and (max-width: 56.25em) {
    .book {
      grid-gap: 0; } }
  @media only screen and (max-width: 37.5em) {
    .book {
      grid-template-columns: 1fr minmax(-webkit-min-content, 70%) 1fr;
      grid-template-columns: 1fr minmax(min-content, 70%) 1fr;
      grid-template-rows: 15rem repeat(3, minmax(-webkit-max-content, 40rem));
      grid-template-rows: 15rem repeat(3, minmax(max-content, 40rem));
      grid-row-gap: 3.5rem; } }
  .book__h2 {
    grid-row: 1 / 2;
    grid-column: 3 / 5; }
    @media only screen and (max-width: 43.75em) {
      .book__h2 {
        grid-column: 2 / -1; } }
    @media only screen and (max-width: 37.5em) {
      .book__h2 {
        grid-column: 1 / -1;
        margin-left: 2rem; } }
  .book__btn {
    grid-row: 3 / 4;
    grid-column: 3 / 4; }
    @media only screen and (max-width: 37.5em) {
      .book__btn {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        justify-self: center; } }

/*---------------------------*/
/* -------- Offer --------- */
/*-------------------------*/
.offer {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 1fr repeat(4, minmax(17rem, 1fr)) 1fr;
  grid-template-rows: 12rem repeat(2, -webkit-min-content);
  grid-template-rows: 12rem repeat(2, min-content);
  grid-column-gap: 2rem;
  color: #555;
  font-size: 1.4rem;
  margin: 5rem 0 10rem 0;
  outline: none; }
  @media only screen and (max-width: 75em) {
    .offer {
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 28.12em) {
    .offer {
      grid-column-gap: 0;
      margin-left: 1rem; } }
  .offer__h2 {
    grid-row: 1 / 2;
    grid-column: 2 / 4; }
    @media only screen and (max-width: 75em) {
      .offer__h2 {
        grid-column: 2 / 5; } }
    @media only screen and (max-width: 28.12em) {
      .offer__h2 {
        grid-column: 2 / 4; } }
  .offer__h3 {
    color: #e67e22; }
  .offer__box {
    grid-row: 2 / 3;
    grid-column: 4 / 6;
    padding-bottom: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .offer__box {
        grid-column: 3 / 5; } }
    @media only screen and (max-width: 28.12em) {
      .offer__box {
        grid-column: 2 / 4; } }

/*---------------------------*/
/* ------ Testimonial ----- */
/*-------------------------*/
.testimonial {
  grid-column: full-start / full-end;
  grid-template-columns: 1fr minmax(-webkit-min-content, 40rem) 10rem minmax(-webkit-min-content, 40rem) minmax(2rem, 1fr);
  grid-template-columns: 1fr minmax(min-content, 40rem) 10rem minmax(min-content, 40rem) minmax(2rem, 1fr);
  grid-template-rows: -webkit-min-content 35rem -webkit-min-content;
  grid-template-rows: min-content 35rem min-content;
  position: relative;
  color: #f2f2f2;
  display: grid;
  padding: 5rem 0; }
  @media only screen and (max-width: 56.25em) {
    .testimonial {
      grid-row-gap: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .testimonial {
      grid-template-columns: repeat(2, 1fr) 10rem minmax(-webkit-min-content, 40rem) minmax(2rem, 1fr);
      grid-template-columns: repeat(2, 1fr) 10rem minmax(min-content, 40rem) minmax(2rem, 1fr); } }
  @media only screen and (max-width: 23.12em) {
    .testimonial {
      grid-template-columns: repeat(2, 1fr) 10rem minmax(-webkit-min-content, 40rem) 1fr;
      grid-template-columns: repeat(2, 1fr) 10rem minmax(min-content, 40rem) 1fr; } }
  .testimonial__h2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2; }
    @media only screen and (max-width: 56.25em) {
      .testimonial__h2 {
        grid-column: 2 / 5;
        margin-left: 1rem; } }
  .testimonial__box {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
    grid-row-gap: 2rem; }
    .testimonial__box--1 {
      margin-left: 0; }
    .testimonial__box--2 {
      margin-left: 4rem; }
    .testimonial__box--3 {
      margin-left: 8rem; }
    .testimonial__box input {
      display: none; }
  .testimonial__content {
    background-color: rgba(242, 242, 242, 0.2);
    box-shadow: 0 1rem 4rem rgba(13, 13, 13, 0.6);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-row-gap: 2rem;
    padding: 1.5rem 2rem;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .testimonial__content {
        box-shadow: none; } }
    .testimonial__content > * {
      opacity: 0;
      transform: translateX(-200%);
      transition: .6s ease; }
  .testimonial__comment {
    font-size: 1.4rem;
    grid-column: 1 / 3; }
  .testimonial__figure {
    justify-self: center;
    grid-row: 2 / 3; }
    .testimonial__figure img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%; }
  .testimonial__name {
    font-size: 2rem;
    grid-row: 2 / 3;
    align-self: center; }
  @media only screen and (max-width: 28.12em) {
    .testimonial__label {
      margin: 0 auto; } }
