// FONT
$font-primary: 'Lato', sans-serif;
$font-display: 'Martel', serif;;

// COLORS
$color-primary: #f2f2f2;

$color-secondary: #e67e22;
$color-secondary-dark: #993600;

$color-valid-form: #55c57a;

// #171A2A
$color-tertiary: #1a334c;

$color-light: #8B94A2;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #666666;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #555;
$color-grey-dark-3: #0d0d0d;

// RESPONSIVE BREAKPOINTS
$tab-land: 75em; // 1200px
$tab-land-medium: 65.62em; // 1050px
$tab-port-medium: 56.25em; // 800px
$tab-port-small: 43.75em; // 700px
$phone: 37.5em; // 600px
$phone-medium: 28.12em; // 450px
$phone-small: 23.12em; // 370px