.card {
	background-size: cover;
	background-position: center;
	grid-row: 2 / 3;
	width: 90%;
	height: 85%;
	text-align: center;
	display: grid;
	align-content: end;
	padding-bottom: 2rem;
	box-shadow: 0 1rem 3rem rgba($color-primary, .2);
	position: relative;
	transition: all .3s;
	align-self: center;
	justify-self: center;
	&--1 {
		background-image: url(../img/photo-18-min.jpg);
		grid-column: 2 / 3;
		// Respond IMG
		@include respond-img {
			background-image: url(../img/photo-18.jpg);
		}
	}
	&--2 {
		background-image: url(../img/photo-21-min.jpg);
		grid-column: 3 / 4;
		// Responsive 600px
		@include respond(phone) {
			grid-row: 3 / 4;
		}
		// Respond IMG
		@include respond-img {
			background-image: url(../img/photo-21.jpg);
		}
	}
	&--3 {
		background-image: url(../img/photo-20-min.jpg);
		grid-column: 4 / 5;
		// Responsive 600px
		@include respond(phone) {
			grid-row: 4 / 5;
		}
		// Respond IMG
		@include respond-img {
			background-image: url(../img/photo-20.jpg);
		}
	}
	&--1,
	&--2,
	&--3 {
		@include respond(phone) {
			grid-column: 2 / 3;
			width: 100%;
			height: 100%;
		}
	}
	&__recommend {
		padding: 1rem;
		font-size: 2.5rem;
		width: 100%;
		background-color: $color-tertiary;
		position: absolute;
		top: 0;
		left: 0;
		// Responsive 900px
		@include respond(tab-port-medium) {font-size: 2rem}
	}
	&__icon-star {
		width: 2rem;
		height: 2rem;
		fill: $color-secondary;
	}
	&__price {
		font-size: 3rem;
		font-weight: 300;
	}
	&:hover {
		transform: translateY(-1rem) ;
	}
	
}